{% extends 'mainapp/base.html' %}
{% load static %}
{% block menu %}
        <div class="header-all padding-site">
            <div class="header">
                <a href="{% url 'main' %}">
                    <img src="{% static "img/logo.svg" %}" alt="logo">
                </a>
                {% include 'mainapp/includes/inc_main_menu.html' %}
            </div>
            <h1 class="header-h1">Contact Us</h1>
        </div>
{% endblock %}
{% block content %}
        <div class="body-contact padding-site">
            <div class="body-contact-block">
                <p class="loco">&#xe801;</p>
                <h5>CALIFORNIA</h5>
                <p class="body-contact-content">
                    <span>Phone:<br></span>
                    <span>1900 - 1234 -5678<br></span>
                    <span>Email:<br></span>
                    <span>info@interior.com<br></span>
                    <span>Address:<br></span>
                    <span>12 W 1st St, 90001 Los Angeles, California</span>
                </p>
            </div>
            <div class="body-contact-block">
                <p class="loco">&#xe801;</p>
                <h5>CALIFORNIA</h5>
                <p class="body-contact-content">
                    <span>Phone:<br></span>
                    <span>1900 - 1234 -5678<br></span>
                    <span>Email:<br></span>
                    <span>info@interior.com<br></span>
                    <span>Address:<br></span>
                    <span>12 W 1st St, 90001 Los Angeles, California</span>
                </p>
            </div>
            <div class="body-contact-block">
                <p class="loco">&#xe801;</p>
                <h5>CALIFORNIA</h5>
                <p class="body-contact-content">
                    <span>Phone:<br></span>
                    <span>1900 - 1234 -5678<br></span>
                    <span>Email:<br></span>
                    <span>info@interior.com<br></span>
                    <span>Address:<br></span>
                    <span>12 W 1st St, 90001 Los Angeles, California</span>
                </p>
            </div>
        </div>
{% endblock %}